
<div class="row">
  <div class="col-12">
      <div class="nav justify-content-end" style="background-color: #007bff;">
          <button class="float-right border add-button" style="margin: 5px;" (click)="addTransaction()">+</button>
      </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
      <tr>
          <th scope="col">Transaction</th>
          <th scope="col">Paid By</th>
          <th scope="col">Amount</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let transaction of transactions" class="transaction" (click)="viewTransaction(transaction.transactionId)">
          <td style="vertical-align: middle;">
              {{transaction.name}}
          </td>
          <td style="vertical-align: middle;">
            <app-friend-list-item [friend]="transaction.paidBy">
            </app-friend-list-item>
          </td>
          <td style="vertical-align: middle;">
            {{formatMoney(transaction.payment)}}
        </td>
      </tr>
  </tbody>
</table>