<div class="container">
  <h2 style="margin-top: 1em;">Add activity</h2>
  <div class="card container">
    <div class="card-body">
      <form [formGroup]="activity" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name*</label>
          <input placeholder="name" aria-label="name" formControlName="name" class="form-control" />
        </div>
        <div class="form-group">
          <label>Description</label>
          <input placeholder="description" aria-label="description" formControlName="description"
            class="form-control" />
        </div>
        <div class="form-group">
          <label>Valuta*</label>
          <select formControlName="valuta" aria-label="valuta" class="form-control select">
            <option [ngValue]="valu" *ngFor="let valu of valutas">{{valu}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-space">
          Make Activity
        </button>
        <button (click)="handleCancle()" class="btn btn-primary btn-space">
          Cancel
        </button>
      </form>
    </div>
  </div>
</div>