<div class="container">
  <form [formGroup]="user" (ngSubmit)="onSubmit()">
    <h1 style="margin-top: 1em;">Register</h1>
    <div class="form-group">
      <label>First Name*</label>
      <input placeholder="first name" aria-label="first name" formControlName="firstName"
        class="form-control" />
      <div class="alert alert-danger" *ngIf="user.get('firstName').errors && user.get('firstName').touched">
        {{getErrorMessage(user.get('firstName').errors)}}
      </div>
    </div>
    <div class="form-group">
      <label>Last Name*</label>
      <input placeholder="last name" aria-label="last name" formControlName="lastName" class="form-control" />
      <div class="alert alert-danger" *ngIf="user.get('lastName').errors && user.get('lastName').touched">
        {{getErrorMessage(user.get('lastName').errors)}}
      </div>
    </div>
    <div class="form-group">
      <label>Email*</label>
      <input placeholder="email" aria-label="email" formControlName="email" class="form-control" />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
      </small>
      <div class="alert alert-danger" *ngIf="user.get('email').errors && user.get('email').touched">
        {{ getErrorMessage(user.get('email').errors) }}
      </div>
    </div>

    <span formGroupName="passwordGroup">
      <div class="form-group">
        <label>Password*</label>
        <input type="password" placeholder="password" aria-label="password" formControlName="password"
          class="form-control" />
        <div class="alert alert-danger"
          *ngIf="user.get('passwordGroup').get('password').errors && user.get('passwordGroup').get('password').touched">
          {{getErrorMessage(user.get('passwordGroup').get('password').errors)}}
        </div>
      </div>

      <div class="form-group">
        <label>Confirm Password*</label>
        <input type="password" placeholder="confirm password" aria-label="confirm password"
          formControlName="confirmPassword" class="form-control" />
        <div class="alert alert-danger"
          *ngIf="user.get('passwordGroup').errors && user.get('passwordGroup').get('confirmPassword').touched && user.get('passwordGroup').get('password').touched">
          {{ getErrorMessage(user.get('passwordGroup').errors) }}
        </div>
      </div>
    </span>
    <div class="alert alert-danger" *ngIf="errorMsg != null && errorMsg != ''">
      Error while trying to register:
      <p *ngFor="let message of formatHttpRequestError(errorMsg)">{{message}}</p>
    </div>

    <button type="submit" class="btn btn-primary">
      Register
    </button>
  </form>
</div>