<nav class="navbar" style="background-color: royalblue; color: white;">
  <span class="navbar-brand mb-0 h1">
    <div class="header-nav">Fair2Share</div>
  </span>
  <!-- <div class="navbar-collapse collapse">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div> -->


    <ul *ngIf="getLoggedIn()" class="nav nav-bar">
      <li class="nav-item"><div class="nav-link" [routerLink]="['/']">Activities</div></li>
      <li class="nav-item"><div class="nav-link" [routerLink]="['/profile']">Profile</div></li>
      <li class="nav-item"><div class="nav-link" (click)="logOut()">Log out</div></li>
    </ul>
</nav>
<router-outlet></router-outlet>
