<nav class="navbar" style="background-color: royalblue; color: white;">
  <span class="navbar-brand mb-0 h1">
    <div class="header-nav" [routerLink]="['/home']">Fair2Share</div>
  </span>
  <ul *ngIf="getLoggedIn()" class="nav nav-bar">
    <li class="nav-item">
      <div class="nav-link" [routerLink]="['/profile']">Profile</div>
    </li>
    <li class="nav-item">
      <div class="nav-link" (click)="logOut()" cy-data="logout">Log out</div>
    </li>
  </ul>
  <ul *ngIf="!getLoggedIn()" class="nav nav-bar">
    <li class="nav-item">
      <div class="nav-link" [routerLink]="['/login']">Login</div>
    </li>
    <li class="nav-item">
      <div class="nav-link" [routerLink]="['/register']">Register</div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
