<div class="container">
  <h2>Manage Participants</h2>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item active">
              <h4 class="float-left">Friends not in Activity</h4>
            </li>
            <li class="list-group-item activity" *ngFor="let friend of getNotInTransaction()">
              <app-friend-list-item [friend]="friend"></app-friend-list-item>
              <span class="float-right btn btn-success" style="margin-top: 5px;" (click)="addToToBeAdded(friend)">Add</span>
            </li>
            <li class="list-group-item" *ngIf="getNotInTransaction().length == 0">
                All your friends are in this activity.
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item active">
              <h4 class="float-left">Participants</h4>
            </li>
            <li class="list-group-item activity" *ngFor="let part of getInTransaction()">
              <app-friend-list-item [friend]="part"></app-friend-list-item>
              <span class="float-right btn btn-danger" style="margin-top: 5px;"(click)="addToToBeRemoved(part)">Delete</span>
            </li>
          </ul>
        </div>

      </div>
      <div *ngIf="errorMesage" class="alert alert-danger">
        {{errorMesage}}
      </div>
      <div style="padding-top: 10px;">
        <button class="btn btn-primary btn-space" (click)="save()">Save</button>
        <button class="btn btn-primary btn-space" (click)="reload()">Cancel</button>
      </div>

    </div>
  </div>
</div>