<!-- <div *ngIf="!loggedIn()"> -->
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <h1>Huh?</h1>
                <p>Have you ever been with friend on holiday and had issues keeping track of payments? If so this website might be something for you.</p>
            </div>
        </div>
        <div class="col-md-4" *ngIf="!loggedIn()"><app-login></app-login></div>
    </div>
<!-- </div> -->

<!-- <div *ngIf="loggedIn()">
    <p>You are loggedin as: </p>
</div> -->


